<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="Contracts.Implementations.Data" behaviorConfiguration="mexBehavior">
        <endpoint address="Contracts.Implementations.Data" binding="basicHttpBinding" contract="Contracts.Interfaces.IData"/>
        <endpoint address="Contracts.Implementations.Data" binding="netTcpBinding" contract="Contracts.Interfaces.IData"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8084"/>
            <add baseAddress="net.tcp://localhost:45719"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>