<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IData" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IData" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8084/Contracts.Implementations.Data" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IData" contract="ImpData.IData" name="BasicHttpBinding_IData"/>
            <endpoint address="net.tcp://localhost:45719/Contracts.Implementations.Data" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IData" contract="ImpData.IData" name="NetTcpBinding_IData"/>
        </client>
    </system.serviceModel>
</configuration>